.tabs > ul {
    padding: 0;
}

.tabs{
    .trigger {
        list-style-type: none;
        padding: 10px;
        background-color: wheat;
        margin: 4px;
        border-radius: 6px;
        display: inline-block;
        padding: 10px 20px;
        cursor: pointer;
    }

    .trigger.active {
        background-color: #3c2c66;
        color: white;
    }

    .content{
        background-color: #fbfbfb;
        padding: 10px 20px;
        border-radius: 6px;
        display: none;
    }

    .content.active{
        display: block;
    }
}